header {
    padding: 20px;
    text-align: left;
    display: inline-block;
}

.zahlavi {
    display: flex;
    align-items: center; /* Vyrovná položky na střed vertikálně */
}

.logo {
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.jmeno h1 {
    margin: 30px;
    font-size: 30px; /* Odebere výchozí okraje */
    font-family: 'Safira March Personal Use', sans-serif;
                                                                                                
}

.menu ul {
    list-style-type: none; /* Odebere výchozí odrážky */
    padding: 0; /* Odebere výchozí vnitřní odsazení */
    margin-left: 1400px;
    margin-right: 100px;
    font-size: 25px;
    font-family: 'Safira March Personal Use', sans-serif;
}

.menu ul li {
    display: inline; /* Položky menu vedle sebe */
    margin-right: 40px; /* Mezery mezi položkami menu */
}

.Ikony img {
    margin-right: 40px; /* Mezery mezi ikonami */
}

h2 {
    font-family: 'Made Canvas';
    font-size: 30px;
    font-weight: lighter;
    color:black;
    margin-left: 60px;
}

.Svetr {
    margin-left: 100px;
    float:left;
}

.Popis {
    margin-left: 30%;
    margin-top: 2%;
    line-height: 1.7;
    width: 750px;
    text-align: justify;
}

.Fotogalerie {
    float: right;
}

.Text-fotky {
    margin-left: 100px;
}

.Kontakt {
    float: left;
}



body {
    font-family: 'Raleway';
    background-color: #ffffff;
}

ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.Insta {
    display: inline;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.Facebook {
    display: inline;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.Mail {
    display: inline;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.Zivili {
    width: 724px;
    height: 1086px;
}

.Svatba {
    width: 1000px;
    height: 680px;
}

footer {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 10px;
}


















